@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(194, 240, 240);
}

.app{
    width: 85%;
    margin: auto;
    padding: 3rem;
}

@media screen and (max-width: 480px){
   .app{
    width: 90%;
    margin-bottom: 3.5rem;
    padding: 1rem;

   }
}